@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-fit-orange: #FD6751;
  --color-fit-black: #432622;
  --color-fit-gray: #736E6E;
}

:root {
  font-family: 'Open Sans', sans-serif;
  color: #161515;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}